body {
    background-color: purple;
}

#form {
    background-color: lightgray;
    height: 500px;
    width: 40%;
    margin: 220px 30% 20px;
    padding: 50px;

}

label {
    color: grey;
}

.input {
    height: 2em;
    width: 450px;
}

.date {
    height: 2em;
    width: 170px;
}

button {
    background-color: goldenrod;
    height: 3em;
    width: 300px;
    margin: 100px;
    color: #fff;
    border-radius: 7px;
    border-color: darkgoldenrod;
    letter-spacing: 3px;
    font-weight: 900;
    cursor: pointer;
}