body {
    background-color: purple;
    display: flex;
    justify-content: center;
}

#form {
    background-color: lightgray;
    width: 40%;
    margin-top: 220px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

label {
    color: grey;
}

.input {
    height: 2em;
    width: 100%;
}

.date {
    height: 2em;
    width: 170px;
    max-width: 100%;
}

button {
    background-color: goldenrod;
    height: 3em;
    width: 300px;
    max-width: 100%;
    color: #fff;
    border-radius: 7px;
    border-color: darkgoldenrod;
    letter-spacing: 3px;
    font-weight: 900;
    cursor: pointer;
}

.action {
    display: flex;
    justify-content: center;
}